.wrap{
    width: 700px;
    margin: 0 auto;
}
.nav{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: start;
}
.nav-name{
    line-height: 40px;
    color: rgb(76,96,122);
}
.nav-item{
    padding-left: 15px;
    float: left;
    position: relative;
    width: 150px;
    height: 100%;
}
.nav-item:hover{
    background: rgb(217,235,249);
}
.nav-item:hover .nav-more{
    display: inline-block;
}
.nav-item:hover:after{
    background: #fff;
}
.nav-item:after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    border-left: 1px solid #ccc;
    cursor: col-resize;
}
.nav-more{
    display: none;
    width: 10px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 0;
    border-left: 1px solid #ccc;
}
.content{
    width: 100%;

}
/* 布局1 */
.file-box{
    width: 100%;
}
.file-item{
    display: flex;
    justify-content: start;
    height: 30px;
    line-height: 30px;
    width: 100%;
}
.file-item:hover,
.file-item2:hover{
    background: rgb(217,235,249);
}
.file-active{
    background: rgb(204,232,255);
}
.file-item {

}
.file-name, .file-icon{
    padding-left: 5px;
    overflow: hidden;
}
.file-name, .file-time, .file-type, .file-size{
    width: 150px;
}
.file-size{
    text-align: right;
}

/* 布局2*/
.file-box2{
    display: none;
}
.file-item2{
    float: left;
    width: 300px;
    margin: 10px;
    padding: 20px;
}
.file-imgBox{
    width: 100px;
    height: 80px;
    float: left;
}
.file-img{
    width: 100%;
    height: 100%;
}
.file-name2{
    float: left;
    padding: 15px;
}

/* 框选 */
.box{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 1px solid #000;
    display: none;
}